@font-face {
	font-family: RobotoMedium;
	src: url('../fonts/Roboto-Medium.ttf');
}
#proxy-toolbar-button {
    list-style-image: url("../icons/icon-24.png");
}
toolbar[iconsize="small"] #proxy-toolbar-button {
    list-style-image: url("../icons/icon-16.png");
}
toolbar[iconsize="small"] #proxy-toolbar-button.active {
	list-style-image: url("../icons/activeIcon-16.png");
}
#proxy-toolbar-button[cui-areatype="menu-panel"] {
	list-style-image: url("../icons/icon-24.png");
}
.proxy-list {
	height: 200px;
	overflow-y: auto;
	margin: 10px 0 10px 0;
	text-align: left;
}
.proxy-list.loading {
	background: url(../icons/loading.gif) no-repeat center center;
}
.proxy-refresh-button, .add-template-button {
	padding: 15px;
	border: none;
	-moz-appearance: none;
	cursor: pointer;
	background-repeat: no-repeat;
    background-color: #D8E8E7;
	width: 100%;
}

.proxy-refresh-button:hover, .add-template-button:hover {
    background-color: #D1E8E7;
}
.proxy-list .active {
	background-color: #D8E8E7;
}
.proxy-list hbox {
	font-size: 14px;
	margin: 2px;
	cursor: pointer;
	display: block;
	padding: 10px;
}
.proxy-list hbox label {
	cursor: pointer;
	color: #585858;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}
.proxy-list hbox > label.proxy-country {
	padding: 5px;
	background: url("../icons/planet.png");
	background-position: 5px center;
	background-repeat: no-repeat;
	text-indent: 25px;
	width: 35%;
}
.proxy-list hbox > label.proxy-type {
	width: 20%;
}
.proxy-list hbox > label.proxy-address {
	width: 35%;
}
#proxy-list-panel box.panel-arrowcontent, #settings-panel box.panel-arrowcontent {
	padding: 0 !important;
}
#proxy-list-panel label, #proxy-list-panel button, #settings-panel button {
	-moz-margin-start: 0 !important;
	margin: 0 !important;
	outline: none !important;
}
.checkbox-square {
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	width: 15px;
	height: 15px;
	display: inline-block;
	margin-right: 8px;
	vertical-align: -4px;
	cursor: pointer;
}
.checkbox-square.active {
	background: url('../icons/icon-checked.png') center center no-repeat #78C0BD;
	border-color: #6AB5B2;
}
#proxy-wrapper {
	text-align: center;
}
#proxy-list-panel #proxy-message {
	font-family: sans-serif;
	margin-top: 10px;
	display: block;
	font-size: 10px;
	text-transform: uppercase;
	color: rgb(161, 161, 161);
	font-weight: bold;
}
#settings-panel input.settings-input {
	padding: 10px;
	border: 0;
	outline: 0;
}
#settings-panel .settings-template {
	color: #585858;
	font-size: 12px;
	font-weight: bold;
	padding: 15px;
}
#settings-panel .settings-template::after {
	content: ' ';
	display: block;
	clear: both;
}
#settings-panel .settings-template img {
	float: right;
	cursor: pointer;
}
#settings-panel #templates-list {
	max-height: 200px;
	overflow-y: auto;
}
#settings-panel #enable-templates {
	margin-top: 10px;
}
#settings-panel #enable-templates::after {
	content: ' ';
	display: block;
	clear: both;
}
#settings-panel #enable-templates #tmpl-block {
	float: right;
	margin-right: 18px;
	text-transform: uppercase;
	font-size: 10px;
	font-family: 'RobotoMedium', sans-serif;
	color: #585858;
}
.list-style-arrow {
	background: url("../icons/icon-list-arrow.png") no-repeat;
	padding-left: 20px;
	margin-left: -8px;
}