/* This is just an example. You shouldn't do this. */
#myextension-button {
  list-style-image: url("icon-24.png");
}
toolbar[iconsize="small"] #myextension-button {
  list-style-image: url("icon-16.png");
}
#ip-address {
	margin: 10px 15px 0 0;
	color: #12B300;
}
.icon-activate {
	list-style-image: url("icon-activate.png");
}
.icon-reset {
	list-style-image: url("icon-reset.png");
}
.icon-ping {
	list-style-image: url("icon-ping.png");
}