@mixin icon($icon, $height, $width) {
  height: $height;
  width: $width;
  background: url($icon) no-repeat center center;
  display: inline-block;
  cursor: pointer;
}

@mixin clearfix() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}
