@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }

  @-moz-keyframes #{$name} {
    @content;
  }

  @-o-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}

@mixin animation($delay, $duration, $animation) {
  -webkit-animation-delay: $delay;
  -webkit-animation-duration: $duration;
  -webkit-animation-name: $animation;

  -moz-animation-delay: $delay;
  -moz-animation-duration: $duration;
  -moz-animation-name: $animation;

  -o-animation-delay: $delay;
  -o-animation-duration: $duration;
  -o-animation-name: $animation;

  animation-delay: $delay;
  animation-duration: $duration;
  animation-name: $animation;
}

@mixin transform($transform) {
  -moz-transform: $transform;
  -o-transform: $transform;
  -ms-transform: $transform;
  -webkit-transform: $transform;
  transform: $transform;
}

@mixin rotate($value: 0deg) {
  @include transform(rotate($value));
}

@mixin icon($icon, $height, $width) {
  height: $height;
  width: $width;
  background: url($icon) no-repeat center center;
  display: inline-block;
  cursor: pointer;
}
