@import "variables";

.select2-container--default.select2-container, .select2-container--default.select2-container--focus {
  font-family: $primaryFont;
  font-size: 12px;
  font-weight: $defaultFontWeight;
  .select2-dropdown {
    border: 1px solid $primaryColorLight;
    .select2-results__options {
      max-height: 100px;
    }
  }

  input {
    line-height: 24px;
  }

  .select2-results__option {
    padding: 10px;
    &[aria-selected="true"], &.select2-results__option--highlighted {
      background-color: $primaryColorLight;
      color: $primaryColor;
    }
  }
  .select2-selection--multiple {
    border-radius: 0;
    border: 1px solid $primaryColorLight;
    .select2-selection__choice__remove:hover{
      color: $primaryColorLight;
      cursor: pointer;
    }
    .select2-selection__rendered {
      box-sizing: border-box;
      list-style: none;
      margin: 0;
      padding: 0 5px;
      width: 100%;
    }
    .select2-selection__choice{
      background-color: $primaryColorLight;
      color: $primaryColor;
      border: 1px solid $primaryColorLight;
      border-radius: 0;
      padding: 3px 5px;
      cursor: default;
      float: left;
      margin-right: 5px;
      margin-top: 5px;
    }
    .select2-selection__choice__remove{
      &:hover {
        color: darken($primaryColor, 10%);
      }
      color: $primaryColor;
      margin-right: 6px;
      margin-left: 6px;
      float: right;
    }
  }
}