@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700');
@import "variables";
@import "reset";
@import "mixins";
@import "select2";

.content-wrapper {
  overflow-y: auto;
  height: 100%;
  width: 100%;
  &.spinner {
    background: url(../icons/loading.gif) no-repeat center center;
  }
}

#proxy-content {
  height: 100%;
  .content-wrapper {
    position: relative;
    height: 240px;
    overflow-y: auto;
    #proxy-list-box {
      width: 100%;
      font-size: 12px;
      border-collapse: collapse;
      border-spacing: 0;
      tr {
        line-height: 30px;
        &.active {
          background-color: $primaryColorLight;
        }
      }
      td {
        padding: 10px 0;
        cursor: pointer;
        color: #585858;
        text-transform: uppercase;
        &.favorite {
          width: 28px;
        }
        &.country {
          background: url("../icons/planet.png") no-repeat 5px center;
          padding-left: 32px;
          white-space: nowrap;
          overflow: hidden;
        }
        &.ip-address {
          width: 110px;
        }
        &.protocol {
          width: 60px;
        }
        &:first-child {
          padding-left: 10px;
        }
        &:last-child {
          padding-right: 10px;
        }
      }
    }
    #no-proxy-list {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 200px;
      height: 20px;
      display: none;
      text-align: center;
      font-size: 14px;
      .reset-button {
        cursor: pointer;
        color: $primaryColor;
        text-decoration-style: solid;
      }
    }
  }
  .filters {
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    display: none;
    background-color: white;
    border-top: 1px solid $primaryColorLight;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.10);
    z-index: 500;
    padding: 15px;
    box-sizing: border-box;
    &.visible {
      display: block;
    }
    & > div {
      float: left;
      display: block;
      width: 100%;
      overflow: hidden;
      &:first-child {
        margin-bottom: 15px;
        text-align: center;
      }
      .select2-selection {
        width: 100%;
        border: 1px solid $primaryColorLight;
        font-size: 12px;
        box-sizing: border-box;
        border-radius: 0;
      }
      button {
        cursor: pointer;
        background: none;
        padding: 8px 15px;
        border: 1px solid $primaryColorLight;
        color: $primaryColor;
        font-size: 12px;
        box-sizing: border-box;
        margin-right: 5px;
        display: inline-block;
        &.active {
          background-color: $primaryColorLight;
        }
      }
    }
  }
}

.bottom-button {
  padding: 25px;
  border: none;
  -moz-appearance: none;
  cursor: pointer;
  background: $primaryColorLight no-repeat center center;
  width: 100%;
  display: block;
  position: absolute;
  bottom: 0;
  z-index: 1;
  &.refresh {
    background-image: url(../icons/icon-refresh.png);
  }
  &.done {
    background-image: url(../icons/icon-ok.png);
  }
  &:hover {
    background-color: #D1E8E7;
  }
}

.checkbox {
  @include icon('../icons/icon-checked.png', 16px, 16px);
  background-color: #D9D9D9;
  border: 1px solid #CCCCCC;
  border-radius: 2px;
  margin-right: 8px;
  vertical-align: -4px;
  &.active {
    background-color: #78C0BD;
    border-color: $primaryColor;
  }
  &.star {
    background-image: url('../icons/star-12.png');
  }
}

#menu {
  display: block;
  height: 50px;
  border-bottom: 1px solid #DDDDDD;
  a {
    height: 100%;
    text-decoration: none;
    color: $primaryColor;
    display: inline-block;
    line-height: 50px;
    margin-right: 10px;
  }
  i {
    display: inline-block;
    height: 100%;
    width: 16px;
    cursor: pointer;
    vertical-align: top;
    padding-right: 15px;
    &.settings {
      background: url(../icons/settings-16-cyan.png) no-repeat 10px center;
    }
    &.list {
      background: url(../icons/play-16-cyan.png) no-repeat 10px center;
    }
    &.star {
      background: url(../icons/star-16-cyan.png) no-repeat 10px center;
    }
  }
}

#pattern {
  .pattern {
    line-height: 30px;
    height: 30px;
    padding: 10px;
    .validation {
      display: inline-block;
      .validation-state {
        right: 5px;
      }
    }
    .address {
      display: inline-block;
      vertical-align: top;
      color: #585858;
      cursor: text;
    }
    i.remove {
      @include icon('../icons/icon-remove.png', 24px, 24px);
      float: right;
    }
    .edit {
      border: 1px solid #78C0BD;
      border-radius: 2px;
      padding: 5px;
    }
  }
  .content-wrapper {
    height: 210px;
  }
}

.right-panel {
  position: absolute;
  top: 0;
  right: 10px;
  height: 50px;
  line-height: 50px;
  font-weight: 400;
  i.filter {
    @include icon('../icons/filter-16.png', 16px, 16px);
    position: relative;
    vertical-align: -4px;
    margin-right: 14px;
    &.active {
      @include icon('../icons/filter-active-16.png', 16px, 16px);
    }
    .counter {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      position: absolute;
      top: -7px;
      right: -7px;
      background: $primaryColor;
      color: white;
      border: 2px solid white;
      border-radius: 50%;
      text-align: center;
      width: 12px;
      height: 12px;
      line-height: 12px;
      font-size: 8px;
      font-weight: bolder;
      display: none;
    }
  }
}