@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700');
@import "variables";
@import "reset";
@import "mixins";
@import "select2";

#wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  #primary-content {
    flex: 1;
  }
  footer {
    display: flex;
  }
}

.content-wrapper {
  overflow-y: auto;
  &.spinner {
    background: url(../icons/loading.gif) no-repeat center center;
  }
}

#proxy-content {
  .content-wrapper {
    position: relative;
    height: 240px;
    overflow-y: auto;
    overflow-x: hidden;
    #proxy-list-box {
      width: 100%;
      font-size: 12px;
      border-collapse: collapse;
      border-spacing: 0;
      .proxy-row {
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 60px;
        padding: 0 10px;
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
        .proxy-row-left {
          min-width: 180px;
        }
        .proxy-row-right {
          margin-left: auto;
        }
        .proxy-cell {
          display: inline-block;
          color: #585858;
          &.favorite,
          &.flag-icon {
            width: 28px;
          }
          &.protocol {
            width: 70px;
          }
          &.ping {
            width: 45px;
            &.green {
              color: #2E7D32;
            }
            &.yellow {
              color: #F9A825;
            }
            &.red {
              color: #D84315;
            }
          }
          &.apply {
            width: 70px;
            .apply-btn {
              font-weight: 500;
              text-align: center;
              text-transform: uppercase;
              padding: 7.5px 16px;
              border-radius: 2px;
              color: $primaryColor;
              background: $primaryColorLight;
              border: none;
            }
          }
        }
        &.active {
          background-color: $primaryColorLight;
          .proxy-cell {
            &.apply {
              .apply-btn {
                background: #ff7970;
                color: white;
              }
            }
          }
        }
      }
    }
    #no-proxy-list {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 200px;
      height: 20px;
      display: none;
      text-align: center;
      font-size: 14px;
      .reset-button {
        color: $primaryColor;
        text-decoration-style: solid;
      }
    }
  }
  .filters {
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    display: none;
    background-color: white;
    border-top: 1px solid $primaryColorLight;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.10);
    z-index: 500;
    padding: 15px;
    box-sizing: border-box;
    &.visible {
      display: block;
    }
    & > div {
      float: left;
      display: block;
      width: 100%;
      overflow: hidden;
      &:first-child {
        margin-bottom: 15px;
        text-align: center;
      }
      .select2-selection {
        width: 100%;
        border: 1px solid $primaryColorLight;
        font-size: 12px;
        box-sizing: border-box;
        border-radius: 0;
      }
      button {
        background: none;
        padding: 8px 15px;
        border: 1px solid $primaryColorLight;
        color: $primaryColor;
        font-size: 12px;
        box-sizing: border-box;
        margin-right: 5px;
        display: inline-block;
        &.active {
          background-color: $primaryColorLight;
        }
      }
    }
  }
}

.bottom-button {
  padding: 25px;
  border: none;
  -moz-appearance: none;
  width: 100%;
  display: block;
  position: absolute;
  bottom: 0;
  z-index: 1;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: $primaryColorLight;
  &.refresh {
    background-image: url(../icons/refresh.svg);
  }
  &.done {
    background-image: url(../icons/add.svg);
  }
  &:hover {
    background-color: #D1E8E7;
  }
}

.checkbox {
  width: 16px;
  height: 16px;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #CCCCCC;
  border-radius: 2px;
  margin-right: 8px;
  vertical-align: -4px;
  background-image: url(../icons/checked.svg);
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-color: #D9D9D9;
  background-position: center center;
  &.active {
    background-color: #78C0BD;
    border-color: $primaryColor;
  }
  &.star {
    background-image: url(../icons/star.svg);
  }
}

#menu {
  display: block;
  height: 50px;
  border-bottom: 1px solid #DDDDDD;
  padding: 0 10px;
  a {
    height: inherit;
    text-decoration: none;
    color: $primaryColor;
    display: inline-block;
    line-height: 50px;
    margin-right: 10px;
  }
  i {
    display: inline-block;
    height: 100%;
    width: 16px;
    cursor: pointer;
    vertical-align: top;
    padding-right: 8px;
    background-size: 14px 14px;
    background-repeat: no-repeat;
    background-position: center left;
    &.blacklist {
      background-image: url(../icons/web.svg);
    }
    &.list {
      background-image: url(../icons/list.svg);
    }
  }
}

#blacklist-content {
  .pattern {
    @include clearfix();
    line-height: 24px;
    padding: 10px;
    .blacklist-element {
      float: left;
      .address {
        color: #585858;
        cursor: text;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        width: 310px;
        vertical-align: top;
      }
    }
    i.remove {
      height: 24px;
      width: 24px;
      display: inline-block;
      cursor: pointer;
      background: url(../icons/remove.svg) no-repeat center center;
      background-size: 16px 16px;
      float: right;
    }
  }
  .content-wrapper {
    height: 210px;
  }
  .bottom-menu {
    input[type="text"] {
      width: 100%;
      border: none;
      padding: 5px 10px;
    }
  }
}

.right-panel {
  position: absolute;
  top: 0;
  right: 10px;
  height: 50px;
  line-height: 50px;
  font-weight: 400;
  i.filter {
    width: 16px;
    height: 16px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    vertical-align: -4px;
    margin-right: 14px;
    background-image: url(../icons/filter-gray.svg);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center center;
    &.active {
      background-image: url(../icons/filter-primary.svg);
    }
    .counter {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      position: absolute;
      top: -7px;
      right: -7px;
      background: $primaryColor;
      color: white;
      border: 2px solid white;
      border-radius: 50%;
      text-align: center;
      width: 12px;
      height: 12px;
      line-height: 12px;
      font-size: 8px;
      font-weight: bolder;
      display: none;
    }
  }
}


.signal-bars {
  display: inline-block;

  .bar.first-bar  { height: 3px; }
  .bar.second-bar { height: 6px; }
  .bar.third-bar  { height: 9px; }
  .bar.fourth-bar { height: 12px; }

  .bar {
    width: 2px;
    margin-left: -2px;
    display: inline-block;
    background-color: $materialBlack;
    margin-bottom: -2px;
  }

  &.three-bars .bar.fourth-bar,
  &.one-bar .bar:not(.first-bar),
  &.two-bars .bar:not(.first-bar):not(.second-bar) {       background-color: $materialGray;
  }
}