<div class="right-panel">
    <div class="checkbox blacklist {{#if isBlacklistEnabled}}active{{/if}}"></div><!--
    -->{{t 'blacklist'}}
</div>
<div id="blacklist-content">
    <div class="content-wrapper"></div>
    <form class="bottom-menu">
        <input name="blacklist-element" placeholder="*.mozilla.org" type="text" autocomplete="off">
        <button class="bottom-button done" type="submit"></button>
    </form>
</div>