<td class="favorite">
    <div class="checkbox star"></div>
</td>
<td class="ip-address">
    {{ipAddress}}
</td>
<td class="protocol">
    {{originalProtocol}}
</td>
<td class="country">
    {{country}}
</td>