@import "variables";

:focus, :active {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: $actionHeight;
  width: $actionWidth;
}

body {
  font-family: $primaryFont;
  font-size: $defaultFontSize;
  font-weight: $defaultFontWeight;
  position: relative;
  background-color: white;
  border-radius: 5px;
}

button,
input,
textarea,
select {
  font-family: inherit;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}
