$primaryColor: #6AB5B2;
$primaryColorLight: #D8E8E7;
$materialBlack: #212121;
$materialGray: #BDBDBD;

$primaryFont: Roboto, sans-serif;

$defaultFontSize: 14px;
$defaultFontWeight: 500;

$actionWidth: 420px;
$actionHeight: 360px;

$flag-icon-css-path: '~flag-icon-css/flags';