<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- LIBRARIES -->
    <script src="../libs/jquery.js" type="text/javascript"></script>
    <script src="../libs/underscore.js" type="text/javascript"></script>
    <script src="../libs/backbone.js" type="text/javascript"></script>
    <!-- MODELS -->
    <script src="../js/models/ProxyServerModel.js" type="text/javascript"></script>
    <script src="../js/models/MenuEntryModel.js" type="text/javascript"></script>
    <script src="../js/models/PatternModel.js" type="text/javascript"></script>
    <!-- COLLECTIONS -->
    <script src="../js/collections/ProxyList.js" type="text/javascript"></script>
    <script src="../js/collections/Menu.js" type="text/javascript"></script>
    <script src="../js/collections/Patterns.js" type="text/javascript"></script>
    <!-- VIEWS -->
    <script src="../js/views/ProxyView.js" type="text/javascript"></script>
    <script src="../js/views/ListView.js" type="text/javascript"></script>
    <script src="../js/views/MenuEntryView.js" type="text/javascript"></script>
    <script src="../js/views/MenuView.js" type="text/javascript"></script>
    <script src="../js/views/PatternView.js" type="text/javascript"></script>
    <script src="../js/views/PatternPageView.js" type="text/javascript"></script>
    <!-- ROUTER -->
    <script src="../js/routers/Router.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../css/overlay.css"/>
</head>
<body>
<div id="menu"></div>
<div id="primary-content"></div>
<!-- MENU TEMPLATE -->
<script type="text/template" id="menu-entry-template">
    <i class="<%- iIcon %>"></i>
    <% if (iActive) { %>
        <%- iText %>
    <% } %>
</script>
<!-- LIST PAGE -->
<script type="text/template" id="list-template">
    <div id="proxy-content">
        <div class="h-max">
            <table id="proxy-list-box"></table>
        </div>
        <button class="bottom-button refresh"></button>
    </div>
</script>
<!-- LIST TEMPLATE -->
<script type="text/template" id="server-template">
    <td class="checkbox">
        <div class="checkbox-square"></div>
    </td>
    <td><%- iAddress %></td>
    <td><%- iProtocol %></td>
    <td class="country"><%- iCountry %></td>
</script>
<!-- PATTERN TEMPLATE -->
<script type="text/template" id="pattern-template">
    <div class="d-uri"><%- iUri %></div>
    <button class="d-rm">
        <i class="rm-button"></i>
    </button>
    <input class="edit" value="<%- iUri %>">
</script>
<!-- PATTERN PAGE TEMPLATE -->
<script type="text/template" id="pattern-page-template">
    <div class="h-max">
    </div>
    <form id="new-entry">
        <input type="text" name="address" placeholder="mozilla.org"/>
        <button class="bottom-button done"></button>
    </form>
</script>
</body>
</html>