<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../libs/jquery.js" type="text/javascript"></script>
    <script src="../libs/underscore.js" type="text/javascript"></script>
    <script src="../libs/backbone.js" type="text/javascript"></script>
    <script src="../js/models/ProxyServerModel.js" type="text/javascript"></script>
    <script src="../js/models/MenuEntryModel.js" type="text/javascript"></script>
    <script src="../js/collections/ProxyList.js" type="text/javascript"></script>
    <script src="../js/collections/Menu.js" type="text/javascript"></script>
    <script src="../js/views/ProxyView.js" type="text/javascript"></script>
    <script src="../js/views/ListView.js" type="text/javascript"></script>
    <script src="../js/views/MenuEntryView.js" type="text/javascript"></script>
    <script src="../js/views/MenuView.js" type="text/javascript"></script>
    <script src="../js/views/PatternView.js" type="text/javascript"></script>
    <script src="../js/routers/Router.js" type="text/javascript"></script>
    <script src="../js/app.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../css/overlay.css"/>
</head>
<body>
<div id="menu"></div>
<div id="primary-content"></div>
<!-- MENU TEMPLATE -->
<script type="text/template" id="menu-entry-template">
    <i class="<%- iIcon %>"></i>
</script>
<!-- LIST PAGE -->
<script type="text/template" id="list-template">
    <div id="proxy-content">
        <div class="h-max">
            <table id="proxy-list-box"></table>
        </div>
        <button class="bottom-button refresh"></button>
    </div>
</script>
<!-- LIST TEMPLATE -->
<script type="text/template" id="server-template">
    <td class="checkbox">
        <div class="checkbox-square"></div>
    </td>
    <td><%- iAddress %></td>
    <td><%- iProtocol %></td>
    <td class="country"><%- iCountry %></td>
</script>
<!-- PATTERN TEMPLATE -->
<script type="text/template" id="pattern-template">
    <div id="pattern">
        <div class="h-max">
            <div class="d-set">
                <div class="d-uri">mozilla.org</div>
                <button class="d-rm">
                    <i class="rm-button"></i>
                </button>
            </div>
            <div class="d-set">
                <div class="d-uri">mozilla.org</div>
                <button class="d-rm">
                    <i class="rm-button"></i>
                </button>
            </div>
        </div>
        <input type="text" name="address" placeholder="mozilla.org"/>
        <button class="bottom-button done"></button>
    </div>
</script>
</body>
</html>