<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../bower/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="../bower/polyglot/build/polyglot.min.js" type="text/javascript"></script>
    <script src="../bower/underscore/underscore-min.js" type="text/javascript"></script>
    <script src="../bower/backbone/backbone.js" type="text/javascript"></script>
    <script src="../bower/backbone.validation/dist/backbone-validation-min.js" type="text/javascript"></script>
    <script src="../build/all.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../css/overlay.css"/>
</head>
<body>
<div id="menu"></div>
<div id="primary-content"></div>
<!-- MENU TEMPLATE -->
<script type="text/template" id="menu-entry-template">
    <i class="<%- iIcon %>"></i>
    <% if (iActive) { %>
        <%- iText %>
    <% } %>
</script>
<!-- LIST PAGE -->
<script type="text/template" id="list-template">
    <div class="h-manage">
        <% if (!hCheckbox) { %>
        <div class="checkbox-square"></div>
        <% } else { %>
        <div class="checkbox-square active"></div>
        <% } %>
        <%- l10n.t("favorites", {_:"Show favorites"}) %>
    </div>
    <div id="proxy-content">
        <div class="h-max">
            <div class="h-box">
                <table id="proxy-list-box"></table>
            </div>
        </div>
        <button class="bottom-button refresh"></button>
    </div>
</script>
<!-- LIST TEMPLATE -->
<script type="text/template" id="server-template">
    <td class="favorite">
        <div class="checkbox-square star"></div>
    </td>
    <td><%- ipAddress %></td>
    <td><%- originalProtocol %></td>
    <td class="country"><%- country %></td>
</script>
<!-- PATTERN TEMPLATE -->
<script type="text/template" id="pattern-template">
    <% if (!editingState) { %>
        <div class="d-uri"><%- address %></div>
        <i class="editable"></i>
    <% } %>
    <button class="d-rm">
        <i class="rm-button"></i>
    </button>
    <% if (editingState) { %>
        <div class="validation">
            <input class="edit" type="text" value="<%- address %>" name="address"/>
            <div class="validation-state"></div>
        </div>
    <% } %>
</script>
<!-- PATTERN PAGE TEMPLATE -->
<script type="text/template" id="pattern-page-template">
    <div class="h-manage">
        <% if (!bCheckbox) { %>
        <div class="checkbox-square"></div>
        <% } else { %>
        <div class="checkbox-square active"></div>
        <% } %>
        <%- l10n.t("blacklist", {_:"Blacklist"}) %>
    </div>
    <div class="h-max"></div>
    <div id="pattern-add-subview"></div>
</script>
<!-- PATTERN ADD TEMPLATE -->
<script type="text/template" id="pattern-add-template">
    <form action="#">
        <div class="validation">
            <input id="address" type="text" name="address" placeholder="https://mozilla.org"/>
            <div class="validation-state"></div>
        </div>
        <button class="bottom-button done"></button>
    </form>
</script>
</body>
</html>