<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../libs/jquery.js" type="text/javascript"></script>
    <script src="../libs/underscore.js" type="text/javascript"></script>
    <script src="../libs/backbone.js" type="text/javascript"></script>
    <script src="../js/models/ProxyServerModel.js" type="text/javascript"></script>
    <script src="../js/collections/ProxyList.js" type="text/javascript"></script>
    <script src="../js/views/ProxyView.js" type="text/javascript"></script>
    <script src="../js/views/ListView.js" type="text/javascript"></script>
    <script src="../js/app.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../css/overlay.css"/>
</head>
<body>
<div id="proxy-content">
    <table id="proxy-list-box"></table>
    <button class="bottom-button refresh"></button>
</div>
<script type="text/template" id="server-template">
    <td class="checkbox">
        <div class="checkbox-square"></div>
    </td>
    <td><%- iAddress %></td>
    <td><%- iProtocol %></td>
    <td class="country"><%- iCountry %></td>
</script>
</body>
</html>